.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.875rem;
    gap: 0.625rem;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
