.custom-button {
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    border: unset;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


