.product-card {
    background: white;
    padding: 0.9375rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 18.75rem;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: scale(1.03);
}

.product-card-img {
    width: 100%;
    height: 9.375rem;
    object-fit: contain;
}

.product-card-title {
    font-size: 1rem;
    margin: 0.625rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 3.5rem;
}

.full-title {
    font-size: 0.875rem;
    margin: 0.625rem 0;
    width: 100%;
    z-index: 1;
    border-radius: 0.5rem;
    height: 3.5rem;
}

.product-card-price {
    font-weight: normal;
    color: #333;
    font-size: 0.875rem;
}

