.input {
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
    border: unset;
}
